<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Documentos</title>
    <link rel="stylesheet" href="../css/style.css">
	  <link rel="stylesheet" href="../lib/boots/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container-fluyed fondo3">
      <div class="letra2 centrado">Mis Documentos</div>
      <br><br>
      <div class="row">
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
        <div class="col-md-4 letra3 centrado">Mis Documentos</div>
      </div>
    </div>
  </body>
</html>
