<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../Images/Icono.jpg">
    <title></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../lib/boots/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="contianer-fluyed fondo10">
      <div class="row lugar5">
        <div class="col-md-8"><div class="edicion1">Short Tongue Twisters</div></div>
      </div>
    </div>
    <div class="container-fluyed fondo11">
      <div class="edicion3">Tongue Twister</div>
    </div>
    <div class="contianer-fluyed fondo12">
      
    </div>
  </body>
</html>
