<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../Images/Icono.jpg">
    <title>Kids</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../lib/boots/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluyed fondo4">
      <div class="row lugar1">
        <div class="col-md-8"><div class="edicion1">Twister for Children</div></div>
        <div class="col-md-6"><div class="edicion2">Have fun and learn at the same time</div></div>
      </div>
    </div>
    <div class="container-fluyed fondo5">
      <div class="edicion3">Tongue twisters for children</div>
    </div>
    <div class="container-fluyed fondo6">
      <div class="row">
        <div class="col-md-6 borde2"><div class="edicion7">1.) The King of Constantinople is constantinoplizado. It is clear that Constanza, could not deconstantinoply. The deconstantinoplizer that deconstantinoplizare the King of Constantinople, good desconstantinoplizador will be.</div></div>
        <div class="col-md-6 lugar"><br><br><audio src="../audio/Audio.mp3" class="edicion8" controls></audio></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-6 borde2"><div class="edicion7">2.) Pepe Pecas poaches potatoes with a pickaxe, with a pico pica potatoes Pepe Pecas. If Pepe Pecas poaches potatoes with a pickaxe, Where is the peak with which Pepe Pecas chops potatoes?</div></div>
        <div class="col-md-6 lugar"><br><br><audio src="../audio/Audio5.mp3" class="edicion8" controls></audio></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-6 borde2"><div class="edicion7">3.) They told me that you said A saying that I said. The one who said it, lied. And in case he had said that saying that you have said what I said, said and redicho remained. and it would be very well said, as long as I had said that saying that you have said what I said</div></div>
        <div class="col-md-6 lugar"><br><br><br><audio src="../audio/Audio2.mp3" class="edicion8" controls></audio></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-6 borde2"><div class="edicion7">4.) When you tell stories, Count how many stories count, because if you do not count how many stories you have, You will never know how many stories you have</div></div>
        <div class="col-md-6 lugar"><br><br><audio src="../audio/Audio3.mp3" class="edicion8" controls></audio></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-6 borde2"><div class="edicion7">5.) Do not look at me, they look at us, they look at us that we look at each other, let's see that they do not look at us and when they do not look at us we'll look at each other, because if we look at each otherdiscover can that we love each other</div></div>
        <div class="col-md-6 lugar"><br><br><audio src="../audio/Audio4.mp3" class="edicion8" controls></audio></div>
      </div>
      <br><br>
      <div class="edicion3">They will be coming soon</div>
    </div>
  <script src="../lib/boots/dist/js/bootstrap.js"></script>
  </body>
</html>
